body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../asset/backimg.png");
    color: white;
    z-index: -2;
}
.image{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    /* left: 0; */
    /* right: 0; */
    z-index: -1;
    width: 1000px;
}
.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    
}